body {
  --blockquote-border-thickness: 0.25ch;
  --blockquote-border-color: var(--text-accent);
  --blockquote-style: italic;
  --blockquote-font-style: italic;
  --blockquote-color: var(--text-accent);
  --blockquote-background-color: transparent;
}

.markdown-source-view.mod-cm6 {
  span.cm-formatting-quote {
    color: var(--text-accent);
  }

  .cm-active.HyperMD-quote::before {
    --blockquote-border-color: transparent;
  }

  .cm-quote {
    &.cm-em {
      text-decoration: normal;
    }
  }
}

.markdown-preview-view, .markdown-rendered {
  blockquote {
    padding-left: 1.75ch;

    em {
      font-style: normal;
    }
  }
}