/* contents/blockquote.css */
.markdown-source-view.mod-cm6 {
  & {
    --blockquote-border-thickness: 0.25ch;
    --blockquote-border-color: var(--text-accent);
    --blockquote-style: italic;
    --blockquote-font-style: italic;
    --blockquote-color: var(--text-accent);
    --blockquote-background-color: transparent;
  }

  .cm-quote {
    &.cm-em {
      font-style: normal;
    }

    &.cm-formatting-quote {
      color: var(--text-accent);
    }

    &.cm-code, &.cm-inline-code {
      font-style: normal;
    }

    &.cm-hmd-internal-link {
      --link-decoration: underline;
    }
  }

  .cm-active.HyperMD-quote::before {
    --blockquote-border-color: transparent;
  }
}

.markdown-reading-view {
  & {
    --blockquote-border-thickness: 0.25ch;
    --blockquote-border-color: var(--text-accent);
    --blockquote-style: italic;
    --blockquote-font-style: italic;
    --blockquote-color: var(--text-accent);
    --blockquote-background-color: transparent;
  }

  blockquote {
    padding: 0 0 0 1.75ch;

    em {
      font-style: normal;
    }

    code {
      font-style: normal;
    }

    a {
      --link-decoration: underline;
    }
  }
}

