/* contents/code.css */
.theme-light {
  --code-background: #f8f8f8;
  --code-background-inline: #f2f2f2;
  --code-normal: #5c6166;
  --code-comment: #787b8088;
  --code-function: #f2ae49;
  --code-important: #e6ba7e;
  --code-keyword: #fa8d3e;
  --code-operator: #ed9366;
  --code-property: #399ee6;
  --code-punctuation: #5c6166;
  --code-string: #86b300;
  --code-tag: #55b4d4;
  --code-value: #a37acc;
}

.theme-dark {
  --code-background: #242936;
  --code-background-inline: #242936;
  --code-normal: #cccac2;
  --code-comment: #b8cfe688;
  --code-function: #ffd173;
  --code-important: #ffdfb3;
  --code-keyword: #ffad66;
  --code-operator: #f29e74;
  --code-property: #73d0ff;
  --code-punctuation: #cccac2;
  --code-string: #d5ff80;
  --code-tag: #5ccfe6;
  --code-value: #dfbfff;
}

.markdown-source-view.mod-cm6 {
  & {
    --code-size: var(--font-text-size);
    --code-radius: 0;
  }

  .cm-inline-code {
    background-color: var(--code-background-inline);
    padding: 0;

    .cm-formatting {
      color: var(--text-faint);
      padding: 0;
    }

    &.cm-formatting ~ &:not(.cm-formatting) {
      padding: 0;
    }
  }
  
  .cm-line:has(> .cm-hmd-indented-code) {
    background-color: var(--code-background);

    .cm-hmd-indented-code {
      background-color: transparent;
    }
  }

  .cm-line.HyperMD-codeblock {
    padding: 0;
  }
}

.markdown-reading-view {

  & {
    --code-size: var(--font-smallest);
  }

  pre {
    position: relative;
    padding: 1.5ch;
    min-height: unset;
    background-color: var(--code-background);
    border-radius: calc(var(--code-radius) * 2);
    white-space: var(--code-white-space);
    overflow-x: auto;

    code {
      background-color: transparent;
      padding: 0;
    }
  }

  code {
    background-color: var(--code-background-inline);
  }
}

