.markdown-source-view {   
    .cm-strong, .cm-strong.cm-em {
        font-variation-settings: "wght" var(--font-bold);
        font-weight: var(--font-bold);
    }

    .cm-strong, .cm-em, .cm-strikethrough, .cm-highlight {
        &.cm-formatting {
            color: var(--text-faint);
        }
    }
}