/* contents/heading.css */
.markdown-source-view.mod-cm6 {
  & {
    --h1-size: var(--font-text-size);
    --h2-size: var(--font-text-size);
    --h3-size: var(--font-text-size);
    --h4-size: var(--font-text-size);
    --h5-size: var(--font-text-size);
    --h6-size: var(--font-text-size);
    --h1-line-height: var(--line-height-normal);
    --h2-line-height: var(--line-height-normal);
    --h3-line-height: var(--line-height-normal);
    --h4-line-height: var(--line-height-normal);
    --h5-line-height: var(--line-height-normal);
    --h6-line-height: var(--line-height-normal);
    --h1-weight: var(--font-extrabold);
    --h2-weight: var(--h1-weight);
    --h3-weight: var(--h1-weight);
    --h4-weight: var(--h1-weight);
    --h5-weight: var(--h1-weight);
    --h6-weight: var(--h1-weight);
  }

  .cm-header {
    font-variation-settings: "wght" var(--h1-weight);
    font-weight: var(--h1-weight);
    padding: 0;
    margin: 0;
    letter-spacing: 0;
  }

  .cm-formatting-header {
    color: var(--text-normal);
  }
}

.markdown-reading-view {
  & {
    --h1-size: 2em;
    --h2-size: 1.75em;
    --h3-size: 1.5em;
    --h4-size: var(--font-text-size);
    --h5-size: var(--font-text-size);
    --h6-size: var(--font-text-size);
    --h1-line-height: var(--line-height-normal);
    --h2-line-height: var(--line-height-normal);
    --h3-line-height: var(--line-height-normal);
    --h4-line-height: var(--line-height-normal);
    --h5-line-height: var(--line-height-normal);
    --h6-line-height: var(--line-height-normal);
    --h1-weight: var(--font-bold);
    --h2-weight: var(--h1-weight);
    --h3-weight: var(--h1-weight);
    --h4-weight: var(--h1-weight);
    --h5-weight: var(--h1-weight);
    --h6-weight: var(--h1-weight);
    --heading-spacing: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-variation-settings: "wght" var(--h1-weight);
    font-weight: var(--h1-weight);
    padding: 0;
    margin: 0;

    * + &,
    div + div > & {
      margin-top: var(--heading-spacing);
    }
  }

  div:has(h3, h4, h5, h6) + div > p {
    margin-top: 0;
  }
}

