.theme-light {
  --background-primary: #fff;
  --background-primary-alt: #eee;
  --text-normal: #444;
  --text-muted: #888;
  --text-faint: #bbb;
}

.theme-dark {
  --background-primary: #111;
  --background-primary-alt: #222;
  --text-normal: #aaa;
  --text-muted: #777;
  --text-faint: #555;
}