/* content-window.css */
.markdown-source-view.mod-cm6 {
  & {
    --font-monospace-theme: 'Cascadia Mono';
    font-feature-settings: "ss01";
    --font-text: var(--font-monospace);
    --font-text-size: 1em;
    --line-height-normal: 1.8em;
    --line-height-tight: 1.4em;
    --font-thin: 200;
    --font-extralight: 240;
    --font-light: 280;
    --font-normal: 330;
    --font-semibold: 500;
    --font-bold: 600;
    --font-extrabold: 650;
    --font-black: 700;
    --file-line-width: 80ch;
  }

  .cm-contentContainer {
    justify-content: end;
  }

  .cm-gutters {
    font-size: var(--font-text-size);
    margin: 0 2ch 0 -20ch;
    padding: 0;
    color: var(--color-base-30);

    .cm-active {
      color: var(--background-primary);
      background-color: var(--color-base-30);
      border-radius: var(--radius-s);
    }
  }

  .cm-gutterElement {
    padding: 0 1ch 0 2ch;
    min-width: 5ch;
  }

  .cm-content {
    & > * {
      margin: 0;
      padding: 0;
    }
  }
}

.markdown-reading-view {
  & {
    --font-text-theme: 'CMU Serif';
    --font-text-size: 1em;
    --line-height-normal: 1.8em;
    --line-height-tight: 1.4em;
  }
}

